<!DOCTYPE html>
<html>
    <head>
        <meta charSet="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title><%= title%></title>
    </head>
    <body>
        <div id="root"></div>
        <script src="./resources/lib/jquery.min.js"></script>
        <script src="./resources/lib/polyfill-ie.min.js"></script>
        <script src="./resources/lib/polyfill.min.js"></script>
    </body>
</html>
